url = "/"
layout = "default"
title = "Home"
description = "Home page"
meta_title = "Can they make snow?"
meta_description = "This webpage uses your latitude and longitude to retrieve the current temperature and relative humidity from NOAA and uses that data to calculate the wet bulb temperature to determine if artificial snow could be made at your location."

[WeatherData]
==
{% if snow %}
    {% partial 'snow' %}
{% endif %}

<main>
    <div class="row">
        <div class="col">
            {% if data.lat and data.lon and not data.wetBulb  == null %}
                <h2 id="answerText" class="h1 text-center" style="font-weight:800;">
                    {% if snow == true %}
                        YES ❄️🏂⛷️🎉
                    {% else %}
                        NO 😭😭😭
                    {% endif %}
                </h2>
                <p class="text-center mt-3">Wet bulb is currently <span style="font-weight:600">{{ data.wetBulb|number_format(2, '.', ',')}} &deg; Celsius</span> <span style="font-weight:600">{{ city }} {{ state }}</span>.</p>
                <p class="text-center mt-2">Snow can be made when the wet bulb temperature is below 0&deg; Celsius.</p>
            {% else %}
                <p class="text-center text-danger">⚠️ &nbsp;We need a location to provide an answer!</p>
            {% endif %}
            
            <div style="max-width: 460px; margin: 0 auto;">
                <div class="row mt-4 pt-4 pb-3">
                    <div class="col-12 text-center">
                        <p class="h5 font-weight-normal mb-0">Want to look up another location?</p>
                    </div>
                </div>
                <form data-request="WeatherData::onSubmit" class="row justify-content-center mb-2">
                    <div class="col-9 pe-lg-0">
                        <label class="visually-hidden" for="address">City, State</label>
                        <input type="text" name="address" id="address" placeholder="City, State" class="form-control rounded-0" value="{{ address }}">
                    </div>
                    <div class="col-3 ps-lg-0">
                        <button type="submit" class="btn btn-md btn-primary rounded-0 w-100">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col mt-4 pt-4">
            <div class="card mx-auto" style="max-width: 560px;">
                <div class="card-body">
                    <h5 class="card-title"><span style="font-size:150%; line-height:1; position:relative; top:4px;">👉</span> &nbsp;How does this page work?</h5>
                    <p class="card-text">We retrieve the temperature and relative humidity from NOAA and use that data to calculate the wet bulb temperature.</p>
                    <a href="https://github.com/joebuonocore/cantheymakesnow.com" target="_blank" class="card-link text-decoration-none">View the source code on GitHub</a>
                </div>
            </div>
        </div>
    </div>
</main>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

{% if not lat and not lon %}
<script>
    function getLocation() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(showPosition);
        } else {
            alert("Geolocation is not supported by this browser.");
        }
    }

    function showPosition(position) {
        var latitude = position.coords.latitude;
        var longitude = position.coords.longitude;

        // Construct the new URL with query parameters
        var newUrl = `${window.location.origin}${window.location.pathname}?lat=${encodeURIComponent(latitude)}&lon=${encodeURIComponent(longitude)}`;

        // Redirect to the new URL
        window.location.href = newUrl;
    }

    // Call the function to get location and redirect
    getLocation();
</script>
{% endif %}